{% extends 'base.html' %}

{% block title %}Question {{ question.id }} detail{% endblock %}


{% block content %}
    {% if question %}
        <div class="container">
            <h1 style="text-align: center;">{{ question.question_text }}</h1>
            <div class="row">
                <div class="col-md-12">
                    {% if choices %}
                        {% for choice in choices %}
                            <p>{{ choice }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}